.popup__description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    width: 358px;
    height: 27px;

}

@media screen and (max-width: 897px) {
    .popup__description {
        width: 238px;
    }
}