.profile__button {
    background-color: #000000;
    border: none;
    background-image: url(../../../images/Edit\ Button.svg);
    height: 24px;
    width: 24px;
    align-self: center;
}

@media screen and (max-width: 897px) {
    .profile__button {
        height: 18px;
        width: 18px;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
}
